# Ignorer le dossier de compilation
build/
bin/

# Ignorer les fichiers objets générés pendant la compilation
*.o
*.obj

# Ignorer les exécutables finaux
*.exe

# Ignorer les fichiers systèmes Mac et Windows
.DS_Store
Thumbs.db

# Ignorer les configurations personnelles de l'éditeur (VS Code, etc.)
.vscode/

# Ignorer les fichiers Zip et archives
*.zip
